/*
*dawn
*/
@media all and (max-width: 768px) {
  .col-7 {
    margin-left: 15%;
    width: 70%;
  }

  .desktop {
   display: none;
  }

  .ipad {
   display: block;
   height: 100%;
  }

  .mobile {
   display: none;
  }
}

/*
*night
*/
@media all and (max-width: 414px) {
  .desktop {
   display: none;
  }

  .ipad {
   display: none;
  }

  .mobile {
   display: block;
   height: 100%;
  }
