/*
*general
*/
html,body {
  height:100%;
  margin:0px;
}

.kitten {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/*
*day
*/
.col-7 {
  bottom: 20px;
  box-sizing: border-box;
  margin-left: 25%;
  padding: 0;
  position: fixed;
  width: 40%;
}

.desktop {
 background-image: url("../assets/images/sunny-day.jpg");
}

.ipad {
  background-image: url("../assets/images/dawn.png");
  display: none;
}

.mobile {
  background-image: url("../assets/images/night.jpg");
  display: none;
}
